.syncModal-body {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white !important;
  // font-weight: bold;
  flex-wrap: wrap;
  i {
    font-size: 100px;
    padding: 14px;
    color: #ff7043;
  }
}
.syncModal-header {
  a {
    text-decoration: underline;
    color: #ff7043;
  }
}
.syncModal-footer {
  display: flex;
  padding: 20px;
  button {
    width: 180px;
  }
  justify-content: center;
}
.syncModalMain .modal-content {
  background: linear-gradient(
    209.28deg,
    rgba(255, 88, 36, 0.2),
    rgba(255, 88, 36, 0.1) 100%,
    rgba(255, 88, 36, 0) 0
  ) !important;
  border: 1px solid rgba(255, 140, 104, 0.3);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(46px);
  // backdrop-filter: blur(46px);
}
.syncModalMain {
  opacity: 0.5 !important;
}
.blured {
  backdrop-filter: none;
}
.syncModal-header,
.syncModal-body,
.syncModal-footer {
  color: white;
}
